---
layout: layouts/main.njk
eleventyNavigation:
  key: Map
---
<link rel="stylesheet" href="/js/map.css">

<div id="valleyMap"></div>

<script src="/js/map.js"></script>
<script>
(()=> {
  const mapEntrysArray = [];
  {%- for entry in mapData.mapEntrys %}
    mapEntrysArray.push({
      lon: {{ entry.lon }},
      lat: {{ entry.lat }},
      name: 'Fanzy Startup'
    });
  {%- endfor %}

  document.addEventListener("DOMContentLoaded", function(event) {
    setTimeout(()=> {
      console.log("dom ready", window.valley);
      window.valley.initMap(mapEntrysArray);
    }, 100);
  });
})();
</script>
