<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or data.title }}</title>
    <meta name="description" content="{{ description or data.description }}">

    <link rel="stylesheet" href="{% includeScss 'index' %}">
  </head>
  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <header>
      {% if templateClass != 'home' %}
        <a href="{{ '/' | url }}">
          <img class="logo" src="/img/logo.svg" width="200" alt="{{ data.title }}">
        </a>
      {% endif %}
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </footer>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
